* {
    padding: 0px;
    margin: 0px;
    font-family: Roboto;
    box-sizing: border-box;
}

.Header {
    background-color: #1f2937;
    color: white;
    height: 600px;
    width: 100vw;
    display: flex;
    flex-flow: column nowrap;

}

.navigator {
    display: flex;
    /* Uses Flexbox to align items */
    justify-content: space-between;
    /* Places logo on the left and links on the right */
    align-items: center;
    /* Vertically centers the items */
    background-color: #1f2937;
    /* Dark background */
    color: white;
    /* White text */
    padding: 15px 100px;
    /* Adds some space inside the header */


}


.links li {
    display: inline;

}

.links a {
    color: white;
    text-decoration: none;
    /* Removes the underline from the links */
    padding: 20px;
    font-size: 20px;
}

#headerLogo {
    font-size: 20px;
    font-weight: 900;
}

/* Header section 2 under the navigator  */

.headerBelow {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    padding: 22px;
    margin: 100px 0;
}

.left {

    max-width: 700px;
    min-width: 500px;
    flex: 1;
    /* Makes the left section take up available space */
}



#Intro {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 800;
}

#introPara {
    padding: 30px 0;
}

#signUp {
    text-align: center;
    justify-content: center;
    background-color: #3882f6;
    padding: 10px 30px;
    border: #f9faf8;
    border-radius: 8px;
    margin: 30px 0;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: larger;
}

.intoImage {
    width: 650px;
    height: 300px;
    background-color: #53565c;
    flex-shrink: 0;
}

img {
    width: 650px;
    height: 300px;
}


/* The 'four rectangular pictures with descriptions' section */

.rectangular {
    width: 180px;
    height: 180px;
    border: 5px solid #3882f6;
    border-radius: 15px;
}

#information {
    font-size: 35px;
    color: #1f2937;
    font-weight: 900;
    padding: 50px 0;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.recInfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 180px;
    margin: 30px;
    flex-wrap: wrap;
    text-align: center;

}

#smallPara {
    padding: 15px 0;
}


/* The quote section  */

.greySection {
    width: 100vw;
    min-height: 400px;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

#quote {
    flex-wrap: nowrap;

    width: 50vw;
    font-size: 35px;
    color: #1f2937;
    font-weight: 100;
    text-align: center;
}

#author {
    font-size: 30px;
    font-weight: bold;
    width: 50vw;
    text-align: end;
    padding-top: 30px;
}

/* The section for sign up */


.signUpRec {
    width: 90vh;
    height: 150px;
    min-width: 800px;
    margin: 100px;
    padding: 50px 0;
    background-color: #3882f6;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 5px solid #3882f6;
    border-radius: 15px;
}


#signTwo {
    padding: 10px 35px;
    text-align: center;
    justify-content: center;
    background-color: #3882f6;
    border: #f9faf8;
    border: 3px solid white;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;
}

#action {
    font-size: larger;
    font-weight: 900;
    color: white;
}

#productInfo {
    color: rgb(203, 203, 203);
    gap: 10px 0;
}


/* bottom bar with website copyright and basic info */

.bottom {
    background-color: #1f2937;
    color: white;
    height: 90px;
    width: 100vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


#copyright {
    font-size: larger;

}